# *.csv
# node_modules/

# /folder_1/node_modules
# /backend_1/__pycache__
# Ignore all CSV files
*.csv

# Node modules (anywhere)
node_modules/

# Python cache (anywhere)
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyd

# Logs
*.log

# Env files
.env
.env.*

# macOS & Windows junk
.DS_Store
Thumbs.db

/folder_1/node_modules
/backend_1/__pycache__
/folder_1/build

backend_1/venv/

backend_1/app/data
backend_1/app/venv_tf
backend_1/app/venv_tf/
backend_1/mohitenv
backend_1/venv
